@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image{
    background-image: url('/vecteezy_schoolboy-pass-exam-cartoon-banner-boy-solve-test_14439102.jpg');
    height: calc(100vh - 68px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #40808a;
}

.noScroll-bar{
    scrollbar-width: none;
}
.height{
    height: calc(100vh - 68.5px);
}